.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.center
{
    text-align: center;
}

.align-bottom
{
    position: absolute;
    bottom: 0;
    left: 50%;
    padding-bottom: 15px;
}

.quiz-title
{
    height: 150px;
}
